.hdr-top {
    background: #000000;
}
.hdr-top-innr {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
}
.hdr-top-rgt {
    margin-left: auto;
}
.hdr-top-menu ul {
    display: flex;
    margin: 0 -35px;
}

.hdr-top-menu ul li {
    padding: 0 35px;
}
.hdr-top-menu ul li a ,
.hdr-tel span i,
.hdr-tel a{
    color: #fff;
    line-height: 0.8;
    display: inline-block;
    font-weight: 400;
}
.hdr-btm {
    background: #fff;
}

.hdr-btm-inr {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.hdr-btm-lft {
    padding-right: 10px;
}
.logo a {
    display: inline-block;
}
.hdr-btm-rgt {
    margin-left: auto;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -29px;
    padding-top: 9px;
}
nav.main-nav > ul > li{
	padding: 0 29px;
	position: relative;
	z-index: 5;
}
nav.main-nav > ul > li > a{
	font-size: 18px;
    font-weight: 600;
    line-height: 0.8;
    color: #000000;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
}
.hdr-top-menu ul li a:hover,
.hdr-tel a:hover,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover > a{
	color: #21aa01;
}
nav.main-nav > ul > li.current-menu-item > a{
	color: #21aa01;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    background: #fff;
    width: 165px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1, 0, 1);
    -ms-transform: scale3d(1, 0, 1);
    -webkit-transform: scale3d(1, 0, 1);
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}
nav.main-nav > ul > li.menu-item-has-children:after{
	position: absolute;
	content: "";
	background: url(../images/arrow-icon.png);
	background-repeat: no-repeat;
	height: 5px;
	width: 9px;
	right: 11px;
    top: 9px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover:after{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:first-child{
	padding-top: 18px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	padding-bottom: 25px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding-left: 21px;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #000;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
	position: absolute;
	content: "";
	width: 2px;
	height: 0;
	background: #21aa01;
	opacity: 0;
	left: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
	opacity: 1;
} 
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
	transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a{
    color: #21aa01;
}


.page header{
    /*box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.75);*/
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.67);
-webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.67);
}

/*hamburgar-start*/
.hamburgar-icon {
    position: relative;
    width: 48px;
    height: 40px;
}
.hamburgar-icon span {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    background: #000000;
    height: 7px;
}
.hamburgar-icon span:nth-child(2) {
    top: 13px;
}
.hamburgar-icon span:nth-child(3) {
    top: 26px;
}
.close-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}
.close-icon span:nth-child(2) {
    display: none;
    content: none;
}
.close-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}
.xs-mobile-menu {
    background: #1e3f6a;
    position: absolute;
    width: 100%;
    z-index: 44;
    left: 0;
    display: none;
}
/*responsive-start*/

@media(max-width: 1499px){
    nav.main-nav > ul{
        margin: 0 -25px;
    }
    nav.main-nav > ul > li{
        padding: 0 25px;
    }
    nav.main-nav > ul > li.menu-item-has-children:after{
        right: 9px
    }
}
@media(max-width: 1399px){
    .hdr-btm-inr{
        padding-top: 45px;
    }
    nav.main-nav > ul{
        margin: 0 -21px;
    }
    nav.main-nav > ul > li{
        padding: 0 21px;
    }
    nav.main-nav > ul > li.menu-item-has-children:after {
        right: 6px;
    }
}
@media(max-width: 1299px){
    .hdr-btm-inr{
        padding-top: 40px;
    }
    nav.main-nav > ul{
        margin: 0 -18px;
    }
    nav.main-nav > ul > li{
        padding: 0 18px;
    }
    nav.main-nav > ul > li.menu-item-has-children:after {
        right: 3px;
    }
}
@media(max-width: 1199px){
    .hdr-btm-inr{
        padding-top: 35px;
    }
     nav.main-nav > ul{
        margin: 0 -12px;
    }
    nav.main-nav > ul > li{
        padding: 0 12px;
    }
    nav.main-nav > ul > li.menu-item-has-children:after {
        right: -3px;
    }
}
@media(max-width: 1299px){

}
@media(max-width: 991px){
    nav.main-nav > ul{
        flex-direction: column;
    }
    nav.main-nav > ul > li {
        display: block;
    }
    
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
        position: initial;
        transform: initial;
        -ms-transform: initial;
        -webkit-transform: initial;
        opacity: initial;
        transition: initial;
        -ms-transition: initial;
        -webkit-transition: initial;
        transform-origin: initial;
        width: 100%;
        display: block;
        padding: 0;
        background: none;
        padding-bottom: 40px;
    }
    nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
        display: none;
    }
    .hdr-top-menu ul{
        margin: 0 -19px;
    }
    .hdr-top-menu ul li {
        padding: 0 19px;
    }
}