.hm-banner {
    position: relative;
}
.hm-banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 600px;
}
.hm-banner-cntlr{
    padding-top: 215px;
    padding-bottom: 215px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hm-bnr-desc {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.hm-bnr-title {
    position: relative;
    margin-bottom: 40px;
    font-size: 72px;
    padding-left: 63px;
    text-transform: uppercase;
}
.hm-bnr-title:after{
    position: absolute;
    content: "";
    background: url(../images/bnr-icon.png);
    height: 66px;
    width: 66px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    margin-top: 4px;
}

.hm-bnr-sub-title {
    font-size: 36px;
}