.hm-banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.hm-banner-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.hm-page-bnr-des {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 4;
}
.hm-banner-cntlr{
    padding-top: 215px;
    padding-bottom: 215px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hm-bnr-desc {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.hm-bnr-title {
    position: relative;
    margin-bottom: 40px;
    font-size: 72px;
    padding-left: 63px;
    text-transform: uppercase;
    font-weight: 700;
}
.hm-bnr-title:after{
    position: absolute;
    content: "";
    background: url(../images/bnr-icon.png);
    height: 66px;
    width: 66px;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    margin-top: 4px;
}

.hm-bnr-sub-title {
    font-size: 36px;
    font-weight: 700;
}
.potential-sec {
    padding-top: 100px;
    padding-bottom: 70px;
}
.sec-des {
    text-align: center;
    padding-bottom: 40px;
}
.sec-entry-heading {
    margin-bottom: 35px;
    font-weight: 600;
}
.sec-des p {
    font-size: 16px;
    line-height: 1.5;
}
.potential-grid-des h4 {
    font-weight: 600;
}
.potential-grid-des p {
    font-size: 16px;
    font-weight: 400;
}
.potential-grid-img-cntlr {
    position: relative;
    overflow: hidden;
}
.potential-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.potential-grids-cntlr ul li {
    width: 33.33%;
    padding: 0 15px;
    padding-bottom: 26px;
}
.potential-grid-des {
    background: #fff;
    padding-left: 15px;
    padding-top: 18px;
}
.potential-grid-des p {
    margin-bottom: 0;
    padding-bottom: 20px;
}
.potential-grid-img-cntlr img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.potential-grid-item:hover .potential-grid-img-cntlr img{
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1)
}

.Pharmacist-bnr-sec{
    position: relative;
    height: 500px;
}
.potential-bnr-des {
    position: relative;
    width: 100%;
    z-index: 4;
}
.potential-bnr-cntlr {
    padding-top: 150px;
    padding-bottom: 150px;
}
.potential-bnr-desc {
    color: #fff;
}
.potential-bnr-sub-title {
    font-size: 32px;
    margin-bottom: 55px;
    font-weight: 600;
}
.potential-bnr-title {
    margin-bottom: 15px;
    font-weight: 700;
}
.rgt-des-sub-heading {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}
.lftimg-rgtdes-inner.clearfix {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}

.lftimg-rgtdes-lft{
    width: 48%;
    padding-left: 70px;
}
.lftimg-rgtdes-rgt {
    width: 52%;
    padding-top: 37px;
}
.rgt-des p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;;
}
