section.single-page-text-sec {
    padding: 50px 0;
}
.programe-development-cntlr ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.programe-development-cntlr ul li{
    padding: 0 30px;
    width: 25%;
}
.programe-development-cntlr {
    max-width: 815px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

.prom-dev-grid-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 56px;
}

.prom-dev-grid-item i {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    display: inline-block;
}
.prom-dev-grid-item span{
    display: inline-block;
}
.therapeutic-sec{
    background: #fff;
}
.single-page-banner {
    position: relative;
    height: 443px;
    display: flex;
    align-items: center;
}
.single-page-bnr-des {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 4;
}
.single-page-banner-cntlr {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-page-bnr-desc {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.single-page-bnr-title {
    margin-bottom: 20px;
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
}
.single-page-bnr-sub-title {
    font-size: 36px;
    font-weight: 700;
}
.single-page-text-cntlr h3{
    font-weight: 600;
    margin-bottom: 15px;
}
.single-page-text-cntlr p{
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 16px;
}
.margin-btm{
    margin-bottom: 35px!important;
}
.single-page-text-cntlr h5{
    font-weight: 600;
    margin-bottom: 15px;
}
.default-page-con ul, ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 26px;
    padding-bottom: 20px;
}
.default-page-con ul li, ul li {
    padding: 5px 0 3px 30px;
    position: relative;
    line-height: 24px;
}
.default-page-con ul li:before, ul li:before{
    content: "";
    position: absolute;
    background: url(../images/ul-li-icon.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 15px;
    height: 11px;
    left: 0;
    margin-top: 7px;
}
.single-page-btn a {
    max-width: 184px;
}
section.tsa-sec {
    display: none;
}
@media (max-width: 1499px){
    .single-page-bnr-title{
        font-size: 50px;
        margin-bottom: 18px;
    }
    .single-page-bnr-sub-title{
        font-size: 32px;
    }
    .single-page-banner{
        height: 400px;
    }
}
@media (max-width: 1399px){
    .single-page-bnr-title{
        font-size: 48px;
        margin-bottom: 16px;
    }
    .single-page-bnr-sub-title{
        font-size: 30px;
    }
}
@media (max-width: 1199px){
    .single-page-bnr-title{
        font-size: 44px;
        margin-bottom: 14px;
    }
    .single-page-bnr-sub-title{
        font-size: 27px;
    }
    .programe-development-cntlr ul{
        margin: 0 -20px;
    }
    .programe-development-cntlr ul li{
        padding: 0 20px;
    }
    .single-page-banner{
        height: 350px;
    }
}

@media (max-width: 991px){
    .single-page-bnr-title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .single-page-bnr-sub-title{
        font-size: 24px;
    }
    .programe-development-cntlr{
        padding: 30px 0;
    }
    .programe-development-cntlr ul{
        margin: 0 -15px;
    }
    .programe-development-cntlr ul li{
        padding: 0 15px;
    }
    .prom-dev-grid-item{
        padding-left: 45px;
    }
    .single-page-banner{
        height: 300px;
    }

}
@media (max-width: 767px){
    .single-page-bnr-title{
        font-size: 37px;
        margin-bottom: 8px;
    }
    .single-page-bnr-sub-title{
        font-size: 20px;
    }
    .programe-development-cntlr{
        padding: 20px 0;
    }
    .programe-development-cntlr ul{
        margin: 0 -10px;
    }
    .programe-development-cntlr ul li{
        padding: 0 10px;
    }
    .prom-dev-grid-item {
        padding-left: 40px;
    }
    .prom-dev-grid-item i {
        height: 25px;
        width: 25px;
    }
    .prom-dev-grid-item span{
        font-size: 14px;
        line-height: 1.5;
    }
}
@media (max-width: 575px){
    .single-page-banner{
        height: 270px;
    }
    .single-page-bnr-title{
        font-size: 32px;
    }
    .programe-development-cntlr {
        padding: 15px 0;
    }
    .programe-development-cntlr ul{
        margin: 0 -8px;
    }
    .programe-development-cntlr ul li{
        padding: 0 8px;
    }
    .prom-dev-grid-item {
        padding-left: 32px;
    }
    .prom-dev-grid-item i {
        height: 21px;
        width: 21px;
    }
    .prom-dev-grid-item span{
        font-size: 12px;
        line-height: 1.4;
    }
}
@media (max-width: 479px){
    .single-page-bnr-title{
        font-size: 29px;
    }
    .programe-development-sec{
        display: none;
    }
    .default-page-con ul, ul{
        padding-left: 0;
    }
    .single-page-btn a {
        max-width: 100%;
    }
}
@media (max-width: 359px){
    .single-page-bnr-title{
        font-size: 26px;
    }
}