/**
All heading
*/
h1,h2,h3,h4,h5,h6{
	line-height: 1;	
	margin-top: 0;
	margin-bottom: 20px;
}
h1,.fl-h1{
	font-size: 72px;
}
h2,.fl-h2{
	font-size: 50px;
}
h3,.fl-h3{
	font-size: 36px;
}
h4,.fl-h4{
	font-size: 24px;
}
h5,.fl-h5{
	font-size: 20px;
}
@media(max-width: 1499px){
	h1,.fl-h1{
		font-size: 65px;
	}
	h2,.fl-h2{
		font-size: 43px;
	}
	h3,.fl-h3{
		font-size: 32px;
	}
	h4,.fl-h4{
		font-size: 22px;
	}
	h5,.fl-h5{
		font-size: 18px;
	}
}

@media(max-width: 1399px){
	h1,.fl-h1{
		font-size: 60px;
	}
	h2,.fl-h2{
		font-size: 38px;
	}
	h3,.fl-h3{
		font-size: 30px;
	}
	h4,.fl-h4{
		font-size: 20px;
	}
	h5,.fl-h5{
		font-size: 17px;
	}
}

@media(max-width: 1199px){
	h1,.fl-h1{
		font-size: 55px;
	}
	h2,.fl-h2{
		font-size: 36px;
	}
	h3,.fl-h3{
		font-size: 27px;
	}
	h4,.fl-h4{
		font-size: 19px;
	}
	h5,.fl-h5{
		font-size: 16px;
	}
}
@media(max-width: 991px){
	h1,.fl-h1{
		font-size: 50px;
	}
	h2,.fl-h2{
		font-size: 32px;
	}
	h3,.fl-h3{
		font-size: 24px;
	}
	h4,.fl-h4{
		font-size: 19px;
	}
	h5,.fl-h5{
		font-size: 16px;
	}
}

@media(max-width: 767px){
	h1,.fl-h1{
		font-size: 40px;
	}
	h2,.fl-h2{
		font-size: 28px;
	}
	h3,.fl-h3{
		font-size: 20px;
	}
	h4,.fl-h4{
		font-size: 18px;
	}
	h5,.fl-h5{
		font-size: 16px;
	}
}
